<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clever.mapper.FriendRequestMapper">

    <select id="selectFriendRequestDetailListByUserId"
            resultType="com.clever.bean.shopping.projo.output.FriendRequestDetailVO">
        SELECT f.*,
               u.username,
               u.nickname,
               u.gender,
               u.avatar,
               u.type,
               u.phone,
               u.email
        FROM friend_request f
                 LEFT JOIN user u ON f.user_id = u.id
        WHERE f.user_id = #{userId}
    </select>
    <select id="selectFriendRequestDetailListByFriendId"
            resultType="com.clever.bean.shopping.projo.output.FriendRequestDetailVO">
        SELECT f.*,
               u.username,
               u.nickname,
               u.gender,
               u.avatar,
               u.type,
               u.phone,
               u.email
        FROM friend_request f
                 LEFT JOIN user u ON f.friend_id = u.id
        WHERE f.user_id = #{userId}
    </select>
    <select id="selectFriendRequestDetail"
            resultType="com.clever.bean.shopping.projo.output.FriendRequestDetailVO">
        SELECT f.*,
               u.username,
               u.nickname,
               u.gender,
               u.avatar,
               u.type,
               u.phone,
               u.email
        FROM friend_request f
                 LEFT JOIN user u ON f.user_id = u.id
        WHERE f.id = #{id}
    </select>
</mapper>