<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clever.mapper.FriendMapper">

    <select id="selectFriendDetailListByUserId" resultType="com.clever.bean.shopping.projo.output.FriendDetailVO">
        SELECT f.*,
               u.username,
               u.nickname,
               u.gender,
               u.avatar,
               u.type,
               u.phone,
               u.email
        FROM friend f
                 LEFT JOIN user u ON f.friend_id = u.id
        where f.user_id = #{userId}
    </select>
</mapper>